body{
    background-color: #fde5e5;
    margin: 0;
}

header {
    background-color: rgb(203, 18, 18);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}
.emptyspaceleft{
    background-color: #fde5e5;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
main {
    background-color: #fde5e5;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 2rem;
}
.emptyspaceright {
    background-color:#fde5e5;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
footer{
    background-color: black;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 2rem;

}
h1{
    text-align: center;
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
    font-style: normal;
}
address{
    font-style: italic;
    color: hotpink;
}
nav li{
    list-style: none;
    background-color: black;
    margin: 1rem;
}
nav a{
    text-decoration: none;
    color: hotpink;
    padding: 25px;
}
nav a:hover{
    color: palegoldenrod;
    background-color: black;
}
nav ul{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 25px;
    margin: 0;
    flex-wrap: wrap;}
img{
    display: block;
    margin: auto;
    width: 50%;
}
hr{
    border: 2px solid black;
}
.resumeheading{
    text-align: center;
    color: black;
}
article{
    background-color: white;
    border: 1px solid gray;
    padding: 1.3rem;
    margin: .5rem;
    margin-bottom: 1.5rem;
    border-radius: .4rem;
    text-align: center;
}
p{
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
    font-style: normal;
}
  
